Module/*.o
Module/modules.order
Module/Module.symvers
Module/*.mod
Module/*.mod.*
Module/*.ko
Module/.*
Module/*.o.cmd
Module/modules.order.cmd
Module/Module.symvers.cmd
Module/*.mod.cmd
Module/*.mod.*.cmd
Module/*.ko.cmd
Module/.*.cmd
node_modules
assets
build
App/*.spec